<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Appium Android and iOS tests">
    <suite-files>
        <suite-file path="testng-setup.xml"/>
        <suite-file path="testng-gestures.xml"/>
    </suite-files>
</suite>    <!-- Suite -->